@import 'fonts';
@import 'icon-fonts';
@import 'vars';
@import 'global';


// Start Header Top 

.header {

    // .header__top

    &__top {
        background-color: #eef1f3;
    }

    // .header__top-inner

    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }

    // .header__top-logo

    &__top-logo {
        display: flex;
        align-items: center;
        text-decoration: none;
    }


    // .header__top-logo-1

    &__top-logo-1 {
        margin-right: 5px;
        padding-left: 7px;
    }

    // .header__top-box

    &__top-box {
        display: flex;
        align-items: center;
    }

    // .header__top-link

    &__top-link {
        color: #fff;
        background-color: $blue;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        padding: 10px 19px;
        border-radius: 40px;
        transition: all .5s;
        font-weight: 400;
        font-size: 14px;
        text-decoration: none;
        outline: transparent;

        &:hover {
            color: $blue;
            background-color: #fff;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .5);
        }

        &:focus {
            color: $blue;
            background-color: #fff;
            transform: scale(1.2);
        }

        &:active {
            color: #fff;
            background-color: #212225;
        }
    }

    // .header__top-link-notifications

    &__top-link-notifications {
        text-decoration: none;
        margin-left: 48px;
    }

    // .header__top-notifications

    &__top-notifications {
 
        &:after {
            content: "25";       
            right: -14px;
            top: -15px;
            background-color: rgb(255, 106, 108);
            border-radius: 55%;
            width: 26px;
            height: 22px;
        }
    }

    // .header__top-link-messages

		&__top-link-messages {
            text-decoration: none;
            margin-left: 30px;
		}

    // .header__top-messages

    &__top-messages {

        &:after {
            content: "6";
            position: absolute;
            right: -15px;
            top: -15px;
            background-color: #62d03b;
            border-radius: 50%;
            width: 22px;
            height: 22px;
        }
    }

    // .header__top-link-basket

		&__top-link-basket {
            text-decoration: none;
            margin-left: 33px;
		}

    // .header__top-basket

    &__top-basket {

        &:after {
            content: "2";
            position: absolute;
            right: -16px;
            top: -15px;
            background-color: $blue;
            border-radius: 50%;
            width: 22px;
            height: 22px;
        }
    }

    // .header__top-user-link

	&__top-user-link {
        margin-left: 47px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333333;  

        &:active {
            color: $blue;
        }
	}

    // .header__top-user-photo

    &__top-user-photo {
        margin-right: 22px;
    }

    // .header__top-user-name

    &__top-user-name {
        font-weight: 500;
        font-size: 16px; 
    }

    // .header__top-user-price

    &__top-user-price {
        display: block;
        margin-top: 5px;
        color: $blue;
        font-weight: 400;
        font-size: 15px;
    }

    // .header__bottom

    &__bottom {
        background-color: #fff;
        // margin-top: 30px;
    }

    // .header__bottom-inner

    &__bottom-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    // .header__bottom-menu

    &__bottom-menu {
        max-width: 498px;
        width: 100%;
        height: 100%;
        padding: 30px 0;
    }

    // .header__bottom-list

    &__bottom-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    // .header__bottom-list-item

    &__bottom-list-item {

        & + .header__bottom-list-item {
            margin-left: 30px;
        }
    }

    // .header__bottom-list-link

    &__bottom-list-link {
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        color: #333333;
        transition: all .3s;
        display: inline-block;
        text-decoration: none;
        outline: transparent;

        &:hover {
            color: $blue;
        }

        &:focus {
            color: $blue;
            transform: scale(1.2);
        }
    }

    // .header__bottom-search

    &__bottom-search {
        max-width: 360px;
        width: 100%;
        position: relative;
    }

    // .header__bottom-search-input

    &__bottom-search-input {
        width: 100%;
        padding: 12px 75px 15px 24px;
        border: 1px solid #d9dfe5;
        border-radius: 40px;
        font-weight: 400;
        font-size: 15px;
        color: #898f96;
        outline: transparent;
    }

    // .header__bottom-btn

    &__bottom-btn {
        position: absolute;
        right: 0;
        max-width: 70px;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 14px;
        text-align: center;
        border: none;
        background-color: $blue;
        border-radius: 40px;
        outline: transparent;
        cursor: pointer;
        transition: all .3s;
        
        font-size: 15px;
        color: #fff;


        &:hover,
        &:active,
        &:focus {
            color: $blue;
            background-color: #fff;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .5);
        }
    }

}


// Start Search

.search {
    background: linear-gradient( 180deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
    opacity: 0.8;

    // .search__inner

    &__inner {
        padding-top: 170px;
        padding-bottom: 236px;
        text-align: center;
        color: #fff;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: -53px;
            right: 15px;
            width: 1110px;
            height: 135px;
            border-radius: 6px;
            background-color: rgb(255, 255, 255);
            opacity: 0.502;
            z-index: 2;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: -40px;
            right: 30px;
            width: 1080px;
            height: 135px;
            border-radius: 6px;
            background-color: rgb(255, 255, 255);
            opacity: 0.502;
            z-index: 1;
        }
    }    

    // .search__inner-title

    &__inner-title {
        font-weight: 400;
        font-size: 60px;
        margin-bottom: 2px;
    }

    // .search__inner-subtitle

    &__inner-subtitle {
        font-weight: 700;
        font-size: 60px;
        margin-bottom: 34px;
    }

    // .search__inner-text

    &__inner-text {
        font-weight: 500;
        font-size: 20px;
        padding-right: 9px;
        margin-bottom: 68px;
    }

    // .search__inner-link-1

    &__inner-link-1 {
        color: $blue;
        border: 1px solid #fff;
        background-color: #fff;
        margin-right: 29px;
        padding-bottom: 18px;
        transition: all 1s;

        &:active {
            color: #fff;
            background-color: #212225;
        }
    }

    // .search__inner-link-2

    &__inner-link-2 {
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;
        padding-bottom: 18px;
        transition: all 1s;

        &:active {
            color: #fff;
            background-color: #212225;
        }
    }

    // .search__inner-block

    &__inner-block {
        max-width: 1140px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: -64px;
        z-index: 3;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        padding: 40px 40px 39px 40px;
        background-color: #fff;
    }

    // .search__inner-block-input

    &__inner-block-input {
        // max-width: 805px;
        // width: 100%;
        width: 805px;
        padding: 16px 210px 17px 26px;
        border: 1px solid rgb(220, 220, 220);
        border-radius: 4px;
        font-weight: 400;
        font-size: 16px;
        color: #676767;
        display: inline-block;
        position: relative;
    }

    // .search__inner-block-box

	&__inner-block-box {
        position: absolute;
        display: inline-block;
        right: 295px;
        width: 195px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        font-family: $font;
        font-weight: 400;
        font-size: 16px;
        color: $grey;
	}

    // .search__inner-block-select

    &__inner-block-select {
        width: 100%;
        height: 100%;
        padding: 16px 20px 17px 17px;
        border: 1px solid rgb(220, 220, 220);
        position: relative;
        // padding-right: 25px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    // .search__inner-block-arrow
    
    &__inner-block-arrow {
        position: absolute;
        right: 20px;
        top: 21px;
        font-size: 12px;
        // color: $grey;
    }

    // .search__inner-block-btn

    &__inner-block-btn {
        max-width: 223px;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        background-color: $blue;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: all .5s;
        outline: transparent;

        &:hover {
            color: $blue;
            background-color: #fff;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .5);
        }

        &:focus {
            color: $blue;
            background-color: #fff;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .5);
            transform: scale(1.1);
        }

        &:active {
            color: #fff;
            background-color: #212225;
        }
    }
}

// Start Info

.info {

    // .info__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 185px;
        padding-bottom: 112px;
    }

    // .info__inner-item

    &__inner-item {
        max-width: 361px;
        width: 100%;
        text-align: center;
    }

    // .info__inner-item-1

	&__inner-item-1 {
        padding-top: 46px;
        padding-bottom: 42px;
	}

    // .info__inner-item-center

	&__inner-item-center {
        padding-top: 42px;
        padding-bottom: 42px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }    
    
    // .info__inner-item-3

	&__inner-item-3 {
        padding-top: 46px;
        padding-bottom: 42px;
	}

    // .info__inner-block

    &__inner-block {
        max-width: 305px;
        width: 100%;
        min-height: 325px;
        display: inline-block;
        text-align: center;
    }


    // .info__inner-block-img

    &__inner-block-img { 
        display: inline-block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    // .info__inner-block-img-1

	&__inner-block-img-1 {
        width: 112px;
        height: 113px;
        margin-bottom: 31px;
    }
    
    // .info__inner-block-img-2

	&__inner-block-img-2 {
        width: 113px;
        height: 120px;
        margin-bottom: 28px;
    }
    
    // .info__inner-block-img-3

	&__inner-block-img-3 {
        width: 112px;
        height: 112px;
        margin-bottom: 32px;
	}


    // .info__inner-block-title

    &__inner-block-title {
        font-weight: 400;
        font-size: 24px;
        color: #000;
        margin-bottom: 20px;
    }

    // .info__inner-block-text

    &__inner-block-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: $grey;
    }
}

// Start Bit-Slider

.big-slider {
    background-color: #eff1f5; 

    // .big-slider__inner

    &__inner {
        padding: 120px 0;
    }

    // .big-slider__inner-block

    &__inner-block {
        margin-bottom: 52px;
    }

    // .big-slider__inner-slide

    &__inner-slide {
        display: flex !important;
    }

    // .big-slider__inner-main

	&__inner-main {
        max-width: 555px;
        width: 100%;
        min-height: 450px;
        position: relative;
    }
    
    // .big-slider__inner-slide-img

    &__inner-slide-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        display: inline-block !important;
    }
  
	// .big-slider__inner-hover

	&__inner-hover {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 1s;

        &:hover {
            opacity: 1;
        }
	}

	// .big-slider__inner-hover-box

	&__inner-hover-box {
        width: 100%;
        height: 100%;
        margin-bottom: 24px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        background-color: #000;
        background: linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
        opacity: 0.902;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    // .big-slider__inner-hover-link-1

	&__inner-hover-link-1 {
        color: #fff;
        background-color: transparent;
        margin-right: 35px;

        &:hover,
        &:focus {
            color: #fff;
            background-color: #212225; 
        }
	}

    // .big-slider__inner-box

    &__inner-box {
        max-width: 585px;
        width: 100%;
        min-height: 450px;
        padding: 45px 50px 25px 50px;
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
        background-color: #fff;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        display: inline-block;
    } 
      
    // .big-slider__inner-box-title

    &__inner-box-title {
        font-weight: 500;
        font-size: 24px;
        color: #000;
        margin-bottom: 15px;
    }

    // .big-slider__inner-box-info

    &__inner-box-info {
        display: flex;
        margin-bottom: 26px;
    }

    // .big-slider__inner-box-link-user

    &__inner-box-link-user {
        font-weight: 400;
        text-decoration: none;
        font-size: 15px;
        color: #000;
        display: flex;
        align-items: center;
    }

    // .big-slider__inner-box-avatar

    &__inner-box-avatar {
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }


    // .big-slider__inner-box-link-plugin

    &__inner-box-link-plugin {
        font-weight: 400;
        text-decoration: none;
        font-size: 15px;
        color: #7347c1;
        display: flex;
        align-items: center;
        margin-left: 27px;
    }

    // .big-slider__inner-box-wordpress

    &__inner-box-wordpress {
        width: 15px;
        height: 15px;
        margin-right: 8px;
    }

    // .big-slider__inner-box-text

	&__inner-box-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: $grey;
        margin-bottom: 31px;
    }
    
    // .big-slider__inner-box-link

	&__inner-box-link {
        margin-bottom: 41px;
	}

	// .big-slider__inner-box-link-item

	&__inner-box-link-item {
        padding: 9px 16px 8px 16px;
        border-radius: 20px;
        background-color: rgb(241, 243, 246);
        font-weight: 400;
        font-size: 15px;
        color: #868c96;
        text-decoration: none;
        transition: all .4s;
        display: inline-block;
        outline: transparent;

        & + .big-slider__inner-box-link-item {
            margin-left: 7px;
        }

        &:hover {
            color: #fff;
            background-color: $blue;
        }

        &:focus {
            color: #fff;
            background-color: $blue;
            transform: scale(.8);
        }

        &:active {
            color: #fff;
            background-color: #212225;
        }
    }

    // .big-slider__inner-box-rating

    &__inner-box-rating {
        padding-top: 22px;
        border-top: 1px solid #ececec;
        display: flex;
        align-items: center;
        padding-left: 2px;
    }

    // .big-slider__inner-box-rating-price

    &__inner-box-rating-price {
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
        color: #fff;
        background-color: $blue;
        padding: 8px 19px;
        border-radius: 20px;
        margin-right: 20px;
        transition: all .4s;
        outline: transparent;

        &:hover {
            color: $blue;
            background-color: #fff;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
        }

        &:focus {
            color: $blue;
            background-color: #fff;
            transform: scale(1.1);
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
        }

        &:active {
            color: #fff;
            background-color: #212225;
        }
    }

    // .big-slider__inner-box-rating-like

    &__inner-box-rating-like {
        font-size: 15px;
        color: $grey;
        font-weight: 400;
        text-decoration: none;
        margin-right: 19px;
    }

    // .big-slider__inner-like

		&__inner-like {
            margin-right: 5px;
		}


    // .big-slider__inner-like

    &__inner-like {
        color: #7347c1;
    }

    // .big-slider__inner-box-rating-sell

    &__inner-box-rating-sell {
        font-weight: 400;
        font-size: 15px;
        color: $blue;
        text-decoration: none;
        margin-right: 170px;
    }

    // .big-slider__inner-basket

	&__inner-basket {
        margin-right: 4px;
    }
}

.big-slide__slick-arrow {
    position: absolute;
    z-index: 5;
    background-color: transparent;
    border: none;
    top: -116px;
    // outline: transparent;
}

.big-slide__slick-prev {
    right: 98px;
}

.big-slide__slick-next {
    right: 47px;
}

.big-slide__arrow {
    font-size: 14px;
    color: #fff;
}

// Start Category

.category {
    background-color: #f6f7fb;

    // .category__inner

    &__inner {
        padding: 120px 0;
    }

    // .category__inner-block

    &__inner-block {
        margin-bottom: 30px;
        position: relative;
    }

    // .category__inner-block-text

	&__inner-block-filter {
        display: flex;
        cursor: pointer;
    }
    
    // .category__inner-block-filter-hover
	&__inner-block-filter-hover {
        position: absolute;
        z-index: 2;
        right: -5px;
        top: 75px;
        max-width: 183px;
        width: 100%;
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2); 
        padding: 25px 0px 25px 26px;
        list-style: none;
        display: none;
    }

    // .category__inner-block-filter-hover-item-1

	&__inner-block-filter-hover-item-1 {
        position: relative;
        width: 1px;
        height: 1px;
	}

    // .category__inner-block-filter-hover-item

	&__inner-block-filter-hover-item {
        position: absolute;
        top: -33px;
        right: -130px;
        width: 18px;
        height: 16px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        transform: rotate(45deg);
        list-style: none;
    }
    
    // .category__inner-block-filter-hover-menu

    &__inner-block-filter-hover-menu {
        margin: 0;
        padding: 0;
    }


	// .category__inner-block-filter-hover-text

	&__inner-block-filter-hover-list {
        text-decoration: none;
        display: block;
        margin-bottom: 15px;

        a {
            text-decoration: none;
            color: #747b86;
            font-weight: 400;
            font-size: 15px;

            &:hover {
                color: $blue;
            }
        }
	}

    // .category__inner-block-filter

    &__inner-block-text {
        font-weight: 400;
        font-size: 16px;
        color: #747b86;
        margin-right: 30px;
    }

    // .category__inner-block-dots

    &__inner-block-dots {
        background-image: url(../images/dots.svg);
        width: 5px;
        height: 20px;
        display: inline-block;
    }

    // .category__wrapper-item

    &__wrapper-item {
        width: 100%;
        min-height: 92px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        display: flex;
        align-items: center;
        padding-left: 30px;
        padding-top: 1px;
        margin-bottom: 50px;
    } 
      

    // .category__wrapper-item-btn

    &__wrapper-item-btn {
        padding: 10px 18px;
        border-radius: 25px;
        background-color: rgb(241, 243, 246);
        cursor: pointer;
        font-weight: 400;
        font-size: 15px;
        color: #747b86;
        display: inline-block;
        transition: all .4s;

        & + .category__wrapper-item-btn {
            margin-left: 10px;
        }

        &:hover {
            color: #fff;
            background-color: $blue;
        }

        &:focus {
            color: #fff;
            background-color: $blue;
            transform: scale(.9);
        }

        &:active {
            color: #fff;
            background-color: #212225;
        }
    }  

    // .category__wrapper-block

    &__wrapper-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    // .category__wrapper-block-item

    &__wrapper-block-item {
        max-width: 361px;
        width: 100%;
        // min-height: 529px;
        padding-bottom: 21px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 30px;
    }

    // .category__wrapper-main

    &__wrapper-main {
        position: relative;
        width: 100%;
        height: 230px;
        margin-bottom: 24px;
    }

    // .category__wrapper-block-img

    &__wrapper-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
    }       

    // .category__wrapper-hover

    &__wrapper-hover {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 1s;

        &:hover {
            opacity: 1;
        }
    }

    // .category__wrapper-hover-box

    &__wrapper-hover-box {
        width: 100%;
        height: 100%;
        margin-bottom: 24px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        background-color: #000;
        background: linear-gradient( 180deg, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
        opacity: 0.902;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .category__wrapper-hover-link

    &__wrapper-hover-link {
        text-decoration: none;
        padding: 16px 28px;
        border: 1px solid #fff;
        border-radius: 45px;
        transition: all .4s;
        outline: transparent;

        &:hover,
        &:focus {
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .7);
            transform: scale(1.1);
        }

        &:active {
            color: #fff;
            background-color: #212225;
        }
    }

    // .category__wrapper-hover-link-1

    &__wrapper-hover-link-1 {
        color: #fff;
        background-color: transparent;
        margin-right: 10px;

        &:hover,
        &:focus {
            color: #fff;
            background-color: #212225; 
        }
    }

    // .category__wrapper-hover-link-2

    &__wrapper-hover-link-2 {
        color: $blue;
        background-color: #fff;

        &:hover,
        &:focus {
            color: #fff;
            background-color: #212225; 
        }
    }

    // .category__wrapper-block-content

    &__wrapper-block-content {
        padding-left: 28px;
    }

    // .category__wrapper-block-title

    &__wrapper-block-title {
        font-weight: 500;
        font-size: 20px;
        color: #000;
        margin-bottom: 15px;
    }

    // .category__wrapper-block-link

    &__wrapper-block-info {
        display: flex;
        margin-bottom: 27px;
        margin-left: 2px;
    }

    // .category__wrapper-block-link-user

    &__wrapper-block-info-user {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 15px;
        color: #000;
        text-decoration: none;
        margin-right: 20px;
    }

    // .category__wrapper-block-link-avatar

    &__wrapper-block-info-avatar {
        margin-right: 6px;
        width: 28px;
        height: 28px;
    }   

    // .category__wrapper-block-link-plugin

    &__wrapper-block-info-plugin {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 15px;
        color: #7347c1;
        text-decoration: none;
    }

    // .category__wrapper-block-icon

	&__wrapper-block-icon {
        margin-right: 9px;
	}

    // .category__wrapper-block-link-wordpress

    &__wrapper-block-wordpress {
        width: 15px;
        height: 15px;
    }

    // .category__wrapper-block-info-psd

    &__wrapper-block-psd {
        width: 13px;
        height: 17px;
    }

    // .category__wrapper-block-html

	&__wrapper-block-html {
        width: 15px;
        height: 17px;
	}


    // .category__wrapper-block-info-text

    &__wrapper-block-info-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: $grey;
        margin-bottom: 28px;
        margin-left: 2px;
    }

    // .category__wrapper-block-sell

    &__wrapper-block-sell {
        padding-top: 22px;
        border-top: 1px solid #ececec;
        padding-left: 30px;
    }

    // .category__wrapper-block-price

    &__wrapper-block-price {
        color: $blue;
        background-color: #e6f1fd;
        padding: 6px 17px;
        border-radius: 25px;
        text-decoration: none;
        margin-right: 8px;
    }
    
    // .category__wrapper-block-like

    &__wrapper-block-like {
        font-weight: 400;
        font-size: 15px;
        color: #000;
        text-decoration: none;
        margin-right: 135px;
    }

    // .category__wrapper-block-star

	&__wrapper-block-star {
        margin-right: 15px;
    }
    
    // .category__wrapper-rating-star
    
    &__wrapper-rating-star {
        margin-right: 52px;
    }
    
    // .category__wrapper-like

    &__wrapper-like {
        color: #9971ce;
        margin-right: 3px;
    }

    // .category__wrapper-block-number

    &__wrapper-block-number {
        color: #6f7d8d;
        display: inline-block;
    }

    // .category__wrapper-block-basket

    &__wrapper-block-basket {
        color: $blue;
        text-decoration: none;
    }
    // .category__wrapper-basket

	&__wrapper-basket {
        margin-right: 3px;
    } 

    // .category__bottom-btn

    &__bottom-btn {
        background-color: $blue;
        color: #fff;
        transition: all .5s;
        display: block;
        margin: 0 auto;
        margin-top: 39px;

        &:hover,
        &:focus {
            color: $blue;
            background-color: #fff;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .5);
        }

        &:active {
            color: #fff;
            background-color: #212225;
        }
    }
} 

